@media only screen and (max-width: 600px) {
    body {

        background-image: url("/img/22_01_2024\ 11_47_40.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;

    }



    * {
        margin: 0;
        padding: 0;
        font-family: custom-font;

    }

    @font-face {
        font-family: custom-font;
        src: url(/MateSC-Regular.ttf);
    }



    h1 {
        font-size: 64px;
        color: aliceblue;
        font-weight: 400;
    }

    .text-placement {
        /* border-style: solid; */
        /* border-color: rgb(255, 127, 127); */
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: column;
        padding-left: 40px;
    }

    h3 {
        font-size: 2vw;
        color: aliceblue;
        font-weight: 400;
        flex-grow: inherit;

    }

    .main-text {
        color: #7289DA;



    }

    h2 {
        color: aliceblue;
        font-size: 32px;
        font-weight: 400;
    }

    h4 {
        color: #7289DA;
        font-size: 36px;
        letter-spacing: 1px;

    }

    h5 {
        font-size: 2vw;
        color: aliceblue;
        font-weight: 100;
    }

    h6 {
        color: aliceblue;
        font-weight: 100;
        line-height: normal;
        margin-top: 0;
        margin-bottom: 0;
    }

    .code-icons {
        padding-top: 10px;
        width: 52px;
        height: 46px;
    }

    nav {
        display: flex;
        width: 100%;
        height: 160px;
        background-color: #36393E;

    }

    .nav-left {
        display: flex;
        width: 50%;
        justify-content: left;
        align-items: center;
        padding-left: 20px;

    }

    .nav-right {
        display: flex;
        width: 50%;
        justify-content: right;
        justify-content: center;
    }

    p {
        font-size: 2vw;
        color: aliceblue;
        flex-grow: inherit;


    }


    a {
        text-decoration: underline;
        text-decoration: none;
        color: aliceblue;
    }



}



body {

    background-image: url("/img/22_01_2024\ 11_47_40.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

* {
    margin: 0;
    padding: 0;
    font-family: custom-font;

}

.text-placement {
    /* border-style: solid; */
    /* border-color: rgb(255, 127, 127); */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    padding-left: 40px;
}

@font-face {
    font-family: custom-font;
    src: url(/MateSC-Regular.ttf);
}



h1 {
    font-size: 8vw;
    color: aliceblue;
    font-weight: 400;
    flex-grow: inherit;
}



h3 {
    color: aliceblue;
    font-weight: 400;
    flex-grow: inherit;
    font-size: 2vw;

}

.main-text {
    color: #7289DA;



}



p {
    font-size: 2vw;
    color: aliceblue;
    flex-grow: inherit;

}

p2 {
    color: aliceblue;
}

p3 {
    color: aliceblue;
    font-size: 20px;
    margin-left: 4px;
    margin-bottom: 3px;
}

h2 {
    color: #7289DA;
    font-weight: 400;
    font-size: 6vw;
}

h4 {
    color: #7289DA;
    font-size: 36px;
    letter-spacing: 1px;

}

h5 {
    font-size: 2vw;
    color: aliceblue;
    font-weight: 100;
    margin-left: 30px;
}

h6 {
    font-size: 5vw;
    color: aliceblue;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 0;
}

.line {
    width: 1px;
    height: 73px;
    color: aliceblue;
}

nav {
    background-color: #36393E;
    height: 70px;
    display: flex;
}

.nav-left {
    display: flex;
    width: 50%;
    justify-content: left;
    align-items: center;
    padding-left: 20px;

}

.nav-right {
    display: flex;
    width: 50%;
    justify-content: right;
    align-items: center;
    padding-right: 20px;


}

a {
    text-decoration: underline;
    text-decoration: none;
    color: aliceblue;
}

footer {
    height: 20%;
    background-color: #36393E;

    bottom: 0;

}

.footer-left {
    display: flex;
    justify-content: left;
    width: 50%;
    flex-wrap: wrap;
    flex-direction: column;
}

.footer-right {
    display: flex;
    justify-content: right;
    width: 50%;

}

.footer-text-placement {
    width: 100%;
    display: flex;
    display: flex;
    text-align: center;
    align-items: center;
}

.icon {
    margin-top: 10px;
    margin-left: 10px;
    width: 32px;
    height: 37px;
}

.icon-social {
    width: 27px;
    width: 37px;
    margin-right: 10px;
}