@media only screen and (max-width: 600px) {
    body {
        background-color: rgba(54, 57, 62, 1);
    }
    body {
        background-image: url("/img/Backgroundimg.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        
        
      
        
        
}

