@media only screen and (max-width: 600px) {
    #photos {
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;

    }

    .photos {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .photos-text-placement {
        width: 90%;
        display: flex;
        justify-content: center;
    }

    .photos-text-placement-left {
        width: 30%;
        display: flex;
        justify-content: right;
    }

    .photos-photes-placement {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .beachimg {
        width: 354px;
        height: 277px;
        margin-bottom: 20px;
    }

    .wheel {
        width: 354px;
        height: 493px;
        margin-bottom: 20px;
    }

    .gas {
        width: 354px;
        height: 490px;
        margin-bottom: 20px;
    }

    .bram {
        width: 354px;
        height: 268px;
        padding-bottom: 20px;

    }

    .vosseveld {
        width: 354px;
        height: 493px;
        margin-bottom: 20px;
    }

    .maastricht {
        width: 354px;
        height: 656px;
        margin-bottom: 20px;
    }
}