#skills {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}



header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.project-placement {
    width: 100%;
    display: flex;

    justify-content: center;
    flex-wrap: wrap;
}

.project-top {
    width: 306px;
    height: 346px;
    border-radius: 10px;
    background: #D9D9D9;
    transition: transform .2s;
    margin-bottom: 10px;
    margin-top: 60px;
}

.project-top:hover {
    transform: scale(110%);

}

.project-bottom {
    width: 306px;
    height: 143px;
    border-radius: 10px;
    background: rgba(114, 137, 218, 0.22);
    margin-bottom: 10px;
}

.project-bottom-top {
    display: flex;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.project-bottom-bottom {
    display: flex;
    height: 50%;
    justify-content: left;
    align-items: center;

}

.skills-placement {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;

    flex-wrap: wrap;
}

.card-placement {
    width: 384px;
    justify-content: center;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}