@media only screen and (max-width: 600px) {




    .skills-text-placement-right {
        width: 83%;
        display: flex;
        justify-content: right;

    }

    .skills-text-placement {
        width: 30%;
        display: flex;
        justify-content: left;
    }


}